<div class="ui grid">
    <div class="ten wide column">
        <h2 translate="project_workflows_list"></h2>
    </div>
    <div class="right aligned six wide column" *ngIf="project.permission === 7">
      <div class="ui icon input">
          <input type="text" placeholder="{{'navbar_search' | translate}}" [(ngModel)]="filter">
          <i class="search icon"></i>
      </div>
    </div>
</div>
<div *ngIf="project.workflow_names && project.workflow_names.length > 0;then workflows;else noworkflows"></div>
<ng-template #workflows>
    <div class="ui stackable four cards">
        <a [routerLink]="['./workflow']" class="card button">
            <div class="content">
                <i class="plus icon" aria-hidden="true"></i>
                <span translate="workflow_create_btn"></span>
            </div>
        </a>
        <a [routerLink]="['./workflow', wfName]" class="card" *ngFor="let wfName of filteredWorkflows">
            <div class="content">
                <div [innerText]="wfName"></div>
            </div>
        </a>
    </div>
</ng-template>
<ng-template #noworkflows>
    <span translate="project_no_workflow"></span>
</ng-template>
